@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}
/* html, body, heading */
@layer base {
  body {
    @apply bg-[#ffffff] text-neutral-700;
  }

  /* header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  } */
}

/* custom classNames */
@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }
}

/* Fix category colors in production */
.bg-yellow-600 {
  background-color: #d97705;
}

.bg-blue-600 {
  background: #3929eb;
}

.bg-green-600 {
  background-color: #049669;
}

.bg-purple-600 {
  background-color: #7730db;
}

.bg-red-600 {
  background-color: #a70b34;
}
.bg-blue-800 {
  background-color: #1e40af;
}
.bg-mdxYellow-600 {
  background-color: #fcb32c;
}
.bg-green-400 {
  background-color: #4ade80;
}
.bg-sky-600 {
  background-color: #0284c7;
}
.bg-red-600 {
  background-color: #dc2626;
}
